@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.BgImage {
    position: relative;
    height: 100vh;
    padding: 15%;
}

.BgImage::after {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    filter: blur(5px);
    right: 0;
    background-image: url("../../assets/images/backgroundImage.jpg");
    content: "";
    background-size: cover;
    box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, .5);
}

img.card-img-top {
    width: 80%;
    margin: 0 auto;
}

.btn {
    background-color: #E43700 !important;
    color: #F6F3F5 !important;
    cursor: pointer;
    font-weight: 600;
    padding: 0.3em 2em !important;
    background-color: transparent;
}

.card {
    /* width: 19rem !important; */
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    background-color: #F8F7F4;
    margin: 0 auto;
}

.card-body {
    padding: 0em 0em 2em 0em !important;
}

.card-title {
    font-weight: 600 !important;
    color: grey;
    font-size: 1rem;
}

svg.svg-inline--fa.fa-google.fa-w-16 {
    font-size: 1.3em;
    margin-right: 5px;
    vertical-align: middle;
}

.btn p {
    font-size: 0.8em;
    vertical-align: middle;
    display: inline;
}