.modal-btn {
    text-decoration: underline !important;
    cursor: pointer;
    color: blue !important;
}

.modal-btn:hover {
    color:rgb(85, 186, 211) !important;
}

.u_name {
    text-transform: capitalize;
    font-weight: 600;
    word-wrap: break-word;
}

.complaintImg {
    border: 4px double black;
    margin-bottom: 5px;
}

.complaintBody {
    word-wrap: break-word;
    color: grey;
}
.com_modal{
    color: red;
    background-color: red;
}