.issue_id {
    text-decoration: underline !important;
    color: blue !important;
    cursor: pointer;
}

.u_name {
    text-transform: capitalize;
    font-weight: 600;
    word-wrap: break-word;
}

.complaintImg {
    border: 4px double black;
    margin-bottom: 5px;
}

.complaintBody {
    word-wrap: break-word;
    color: grey;
}