.bgColor {
    background-color: #eeeeee;
}

.container-fluid {
    margin: 0px;
    padding: 30px 50px;
}


aside.col-4.left {
    margin-top: 3em;
}

aside.left {
    position: sticky;
    height: 100%;
    top: 20px;
}

