.bgColor {
    background-color: #f4f7fb;
}

.container-fluid {
    margin: 0px;
    padding: 30px 50px;
}

aside.col-4.left {
    margin-top: 3em;
}

aside.left {
    position: sticky;
    height: 100%;
    top: 20px;
}

@media(min-width:320px) and (max-width:480px) {
    .container-fluid {
        margin: 0px;
        padding: 10px;
    }
}