li.nav-item {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: #400060;
    /* border: 0.5px solid white; */
}

a.nav-link.active {
    text-decoration: none;
    color: #ff3f00cf;
    border: none;
    z-index: 2;
    border-radius: 0px 0px 10px 10px;
    background-color: #5c0093;
    box-shadow: 0px 5px 30px 7px #000;
}

.nav-item:hover {
    font-size: 20px;
    border: none;
    z-index: 1;
    border-radius: 0px 0px 10px 10px;
    background-color: #5c0093;
    box-shadow: 0px 5px 30px 7px #000;
}

.nav-link:hover {
    color: #ff3f00cf;
}

.nav-item a {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    color: white;
}

.menu_footer {
    font-size: 1em;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-basis: 40%;
    color: #777575;
    font-weight: 600;
    text-transform: capitalize;
}

.menuFooter_rt{
    display: flex;
    justify-content: space-between;
    padding: 0px;
    flex-basis: 25%;
    color: #2999ea;
}
.menuFooter_rt li{
    cursor: pointer;
}

@media(min-width:992px) and (max-width:1024px) {
    .nav-item a {
        padding: 18px 18px;
    }
    .menu_footer{
        font-size: 0.9em;
        padding: 8px;
        flex-basis: 30%;
    }
    .menuFooter_rt{
        flex-basis: 30%;
    }
}

@media(min-width:768px) and (max-width:991px) {
    .nav-item a {
        font-size: 0.9em;
        padding: 12px 12px;
    }
    .menu_footer{
        font-size: 0.7em;
        padding: 6px;
    }
    .menuFooter_rt{
        flex-basis: 30%;
    }
}

@media(min-width:576px) and (max-width: 767px) {
    ul.nav.flex-column {
        flex-direction: row !important;
        position: unset;
    }
    svg.svg-inline--fa.fa-chevron-right.fa-w-10 {
        transform: rotate(90deg);
    }
    li.nav-item {
        display: block;
        width: 32.5%;
        margin: 0% 0.4%;
    }
    a.nav-link {
        font-size: 0.8em;
        padding: 15px
    }
    .menu_footer{
        display: none;
    }
}

@media(min-width:481px) and (max-width: 575px) {
    ul.nav.flex-column {
        flex-direction: row !important;
        position: unset;
    }
    svg.svg-inline--fa.fa-chevron-right.fa-w-10 {
        transform: rotate(90deg);
    }
    li.nav-item {
        display: block;
        width: 32.5%;
        margin: 0% 0.4%;
    }
    a.nav-link {
        font-size: 0.6em;
        padding: 12px
    }
}

@media(min-width:320px) and (max-width: 480px) {
    ul.nav.flex-column {
        flex-direction: row !important;
        position: unset;
    }
    svg.svg-inline--fa.fa-chevron-right.fa-w-10 {
        transform: rotate(90deg);
    }
    li.nav-item {
        display: block;
        width: 32%;
        margin: 0% 0.4%;
    }
    a.nav-link {
        font-size: 0.6em;
        padding: 12px
    }
}