.table-row {
    background-color: white;
}
.table-container{
    border: 1px solid lightgrey;
}

@media(min-width:992px) and (max-width:1024px) {
    .table-container {
        font-size: 0.9em;
    }
}

@media(min-width:768px) and (max-width:991px) {
    .table-container {
        font-size: 0.65em;
    }
    .table-container th{
        padding: 5px;
    }
}

@media(min-width:576px) and (max-width:767px) {
    .table-container {
        font-size: 0.77em;
        margin-top: 20px;
    }
    .table-container th{
        padding: 0px;
    }
}

@media screen and (max-width: 575px) {
    .table-container {
        font-size: 0.9em;
        margin-top: 20px;
    }
    .table-header {
        padding: 5px 10px;
        font-size: 1.0em;
    }
    table {
        border: 0;
    }
    table caption {
        font-size: 1.3em;
    }
    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }
    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }
    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    table td:last-child {
        border-bottom: 0;
    }
}