.form {
    border: 1px solid lightgrey;
    margin-bottom: 50px;
}

.form-head {
    font-size: 1.2em;
    letter-spacing: 1px;
    color: white;
    text-align: left;
    padding: 2px 0px;
    font-weight: 600;
    background-color: #ff3f00cf;
}

.form textarea {
    border: none;
}

svg.svg-inline--fa.fa-pen.fa-w-16 {
    margin: 0px 10px;
}

.image>input {
    display: none;
}

svg.svg-inline--fa.fa-image.fa-w-16 {
    color: grey;
    cursor: pointer;
    font-size: 2em;
}

.submit-btn>input {
    display: none;
    border: 1px solid green;
}

svg.svg-inline--fa.fa-arrow-alt-circle-right.fa-w-16 {
    padding: 2px;
    cursor: pointer;
    color: #ff3f00cf;
    font-size: 2em;
}

.footer {
    border-top: 1px solid lightgrey;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: -ms-flexbox;
    display: flex;
    padding: 0px 15px;
    background-color: white;
}

select.form-control.category {
    margin: 0px 25px 0px 0px;
    border: none;
    /* border: 1px solid red; */
    padding: 0px;
    background: transparent;
    vertical-align: middle;
    height: calc(1.4em + .75rem + 1px) !important;
}

.lf {
    display: flex;
    justify-content: space-between;
    /* width: 80%; */
    /* flex-basis: 70%; */
    /* border: 1px solid yellow; */
}

.footer label {
    margin: 0px;
}

.image {
    display: flex;
    /* border: 1px solid; */
    vertical-align: middle;
}

.imagename {
    /* border: 1px solid purple; */
    width: 100%;
    max-width: 100%;
    margin-left: 5px;
    font-size: 15px;
    color: grey;
    padding-top: 5px;
}

select.form-control.category {
    width: auto;
}

@media(min-width:992px) and (max-width:1024px) {
    .footer {
        padding: 0px 10px;
    }
}

@media(min-width:768px) and (max-width:991px) {
    .form-head {
        font-size: 1em;
        letter-spacing: 0.5px;
        padding: 2px 0px;
    }
    .footer {
        padding: 0px 8px;
    }
    svg.svg-inline--fa.fa-image.fa-w-16 {
        color: grey;
        cursor: pointer;
        font-size: 1.4em;
    }
    svg.svg-inline--fa.fa-arrow-alt-circle-right.fa-w-16 {
        padding: 2px;
        cursor: pointer;
        color: #ff3f00cf;
        font-size: 1.6em;
    }
    .imagename{
        font-size: 0.75em;
    }
    select.form-control.category {
        margin: 0px 15px 0px 0px;
        border: none;
        padding: 0px;
        background: transparent;
        vertical-align: middle;
        font-size: 0.8em;
        height: calc(1em + .75rem + 0.5px) !important;
    }
}

@media(min-width:481px) and (max-width:767px) {
    .form {
        margin: 20px 0px;
    }
    .form-head {
        font-size: 0.9em;
        letter-spacing: 0.5px;
        padding: 2px 0px;
    }
    .footer {
        padding: 0px 8px;
    }
    svg.svg-inline--fa.fa-image.fa-w-16 {
        color: grey;
        cursor: pointer;
        vertical-align: middle;
        font-size: 1.3em;
    }
    svg.svg-inline--fa.fa-arrow-alt-circle-right.fa-w-16 {
        padding: 2px;
        cursor: pointer;
        color: #ff3f00cf;
        font-size: 1.5em;
        vertical-align: middle;
    }
    select.form-control.category {
        margin: 0px 15px 0px 0px;
        padding: 0px;
        vertical-align: middle;
        font-size: 0.8em;
        height: calc(1em + .45rem + 0.5px) !important;
    }
    .imagename{
        font-size: 0.7em;
    }
}

@media(min-width:320px) and (max-width:480px) {
    .form {
        margin: 15px 0px;
    }
    .form-head {
        font-size: 0.9em;
        letter-spacing: 0.5px;
        padding: 1px 0px;
    }
    textarea.form-control {
        font-size: 0.9em;
        padding: 3px 6px;
        border: none;
    }
    .footer {
        padding: 0px 3px;
    }
    svg.svg-inline--fa.fa-image.fa-w-16 {
        vertical-align: middle;
        font-size: 1.2em;
    }
    svg.svg-inline--fa.fa-arrow-alt-circle-right.fa-w-16 {
        padding: 2px;
        cursor: pointer;
        color: #ff3f00cf;
        font-size: 1.5em;
        vertical-align: middle;
    }
    select.form-control.category {
        margin: 0px 10px 0px 0px;
        padding: 0px;
        vertical-align: middle;
        font-size: 0.7em;
        height: calc(1em + .45rem + 0.5px) !important;
    }
    .imagename{
        font-size: 0.5em;
    }
}